name: Unit tests

on:
  push:

jobs:
  check-commit:
    runs-on: ubuntu-latest
    outputs:
      run_tests: ${{ steps.check_message.outputs.run_tests }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Check commit message
        id: check_message
        run: |
          if git log -1 --pretty=%B | grep -q "RUNTEST"; then
            echo "run_tests=true" >> "$GITHUB_OUTPUT"
          else
            echo "run_tests=false" >> "$GITHUB_OUTPUT"
          fi
  tests:
    needs: check-commit
    if: needs.check-commit.outputs.run_tests == 'true'
    strategy:
      fail-fast: false
      matrix:
        device: [cpu, amd-gpu, nvidia-gpu]
        precision: [double, single]
        mpi: [serial, parallel]
        exclude: # my AMD GPU doesn't support fp64 atomics : (
        - device: amd-gpu 
          precision: double
        - device: amd-gpu
          mpi: parallel
        - device: nvidia-gpu
          mpi: parallel
    runs-on: [self-hosted, "${{ matrix.device }}"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure
        run: |
          if [ "${{ matrix.device }}" = "nvidia-gpu" ]; then
            FLAGS="-D Kokkos_ENABLE_CUDA=ON"
            if [[ ! -z $(nvidia-smi | grep "V100") ]]; then
              FLAGS+=" -D Kokkos_ARCH_VOLTA70=ON"
            elif [[ ! -z $(nvidia-smi | grep "A100") ]]; then
              FLAGS+=" -D Kokkos_ARCH_AMPERE80=ON"
            else
              FLAGS+=" -D Kokkos_ARCH_AMPERE86=ON"
            fi
          elif [ "${{ matrix.device }}" = "amd-gpu" ]; then
            FLAGS="-D Kokkos_ENABLE_HIP=ON -D Kokkos_ARCH_AMD_GFX1100=ON"
          elif [ "${{ matrix.mpi }}" = "parallel" ]; then
            FLAGS="-D mpi=ON"
          fi
          cmake -B build -D TESTS=ON -D output=ON -D precision=${{ matrix.precision }} $FLAGS
      - name: Compile
        run: |
          cmake --build build -j $(nproc)
      - name: Run tests
        run: |
          ctest --test-dir build --output-on-failure --verbose
  cputests:
    name: Build and test (precision=${{ matrix.precision }}, mpi=${{ matrix.mpi }}, output=${{ matrix.output }})
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        precision: [single, double]
        mpi: [ON, OFF]
        output: [ON, OFF]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install GCC 14 and build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-14 g++-14 gfortran-14 build-essential wget libevent-dev libhwloc-dev
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-14 50
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-14 50
          sudo update-alternatives --install /usr/bin/gfortran gfortran /usr/bin/gfortran-14 50
          gcc --version
          g++ --version
      - name: Install CMake (3.x)
        run: |
          sudo apt-get install -y cmake
          cmake_major=$(cmake --version | head -n1 | awk '{print $3}' | cut -d. -f1)
          if [ "$cmake_major" -gt 3 ]; then
            echo "CMake major version must be at most 3.x"
            exit 1
          fi
          cmake --version
      - name: Install OpenMPI 5
        run: |
          sudo apt-get install -y libopenmpi-dev openmpi-bin
          mpirun --version
      - name: Configure
        run: |
          if [ "${{ matrix.mpi }}" = "ON" ]; then
            export CC=mpicc
            export CXX=mpicxx
          else
            export CC=gcc-14
            export CXX=g++-14
          fi
          cmake -B build -D TESTS=ON -D precision=${{ matrix.precision }} -D mpi=${{ matrix.mpi }} -D output=${{ matrix.output }}
      - name: Compile
        run: cmake --build build -j "$(nproc)"
      - name: Run tests
        run: ctest --test-dir build --output-on-failure
